.container {
    display: flex;
    flex-direction: column;
    
    position: fixed;
    justify-content: space-between;
    align-items: center;
    
    padding: 2rem;
    height: 100%;
    background: var(--white);
}

.container ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.container ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.container ul li + li {
    margin-top: 2.5rem;
}

.container div {
    cursor: pointer;
}

.iconsColor {
    color: var(--blue);

    transition: color 0.2s;
}

.iconsColor:hover {
    color: var(--blue-dark);
}